<!DOCTYPE html>
<html>
<head>
  <title>Bike Rack and Crimes associated therein</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<!-- Latest compiled and minified CSS & JS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="style.css">
<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>




<body>
<div class="container">
<img src="CrimeTime_Logo.png" id="logo">
<h1 style="display: inline;">Crimetime theft reporting app</h1>

<div class="row">
  <div class="col-md-8">
    <div id="map"></div>
  </div>


  <div class="col-md-4 well">
    <div class="form-group row">
    <label for="example-text-input" class="col-xs-4 col-form-label">ID</label>
      <div class="col-xs-8">
      <input class="form-control" type="text" value="BK-1773" id="bikeRack_ID">
      </div>
    </div>  

    <div class="form-group row">
      <label for="example-text-input" class="col-xs-4 col-form-label">Latitude</label>
      <div class="col-xs-8">
        <input class="form-control" type="text" value="N 52.223" id="bikeRack_LAT">
      </div>
    </div>

    <div class="form-group row">
      <label for="example-text-input" class="col-xs-4 col-form-label">Longitde</label>
      <div class="col-xs-8">
        <input class="form-control" type="text" value="W 140.939" id="bikeRack_LNG">
      </div>
    </div>

    <div class="form-group row">
      <label for="example-text-input" class="col-xs-4 col-form-label">Comments</label>
      <div class="col-xs-8">
        <input class="form-control" type="text" value="My Bike Was Stolen!" id="bikeRack_Comment">
      </div>
    </div>

    <div class="form-group row">
    <div class="col-xs-12"><h5>Frequency of bike thefts:</h5> <h5 style="display: inline; color: red" id="theft_prob"></h5></div>
    </div>

    <div class="form-group row">
      <button type="button" class="btn btn-primary" style="width: 100%">Submit Report</button>
    </div>


    
  </div>
</div>



</div>

<!-- <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 47.6050, lng: -122.3344},
          zoom: 14
        });
      }
</script> -->


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTX24SjDiIPimQk0ZF2vKW8AUzHtwEnl0&callback=initMap"
    async defer></script>
<script src="mapscript.js"></script>

</body>
</html>